<div class="header">
  <img class="header-background" src="../../assets/media/header-background.jpg" alt="Background image" >
  <nav>
    <div class="container">
      <span class="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="left-part">
        <ul class="menu">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/">Product</a></li>
          <li><a routerLink="/">Pricing</a></li>
          <li><a routerLink="/">About</a></li>
          <li><a routerLink="/">Contact</a></li>
        </ul>
      </div>
      <div class="center-part">
        <div class="logo">LOGO LAND</div>
      </div>
      <div class="right-part">
        <ul class="social-media">
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="header-content">
    <h2>The best products start with an idea</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem officia quidem perspiciatis? </p>
    <button class="btn-primary">Try For Free</button>
  </div>


</div>
