<div class="footer">
  <div class="container">
    <div class="menu">
        <ul>
          <li><a href="">Pages</a> </li>
          <li><a href="">Home</a></li>
          <li><a href="">Product</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul>
          <li><a href="">Tomothy</a></li>
          <li><a href="">Eleanor Edwards</a></li>
          <li><a href="">Ted Roberston</a></li>
          <li><a href="">Annette Russel</a></li>
          <li><a href="">Jennie Mckinney</a></li>
          <li><a href="">Gloria Richards</a></li>
        </ul>
        <ul>
          <li><a href="">Tomothy</a></li>
          <li><a href="">Eleanor Edwards</a></li>
          <li><a href="">Ted Roberston</a></li>
          <li><a href="">Annette Russel</a></li>
          <li><a href="">Jennie Mckinney</a></li>
          <li><a href="">Gloria Richards</a></li>
        </ul>
    </div>
    <div class="contact">
        <div class="localisation">
          <i class="fa-solid fa-location-dot"></i>
          <div>7480 Mockingbird Hill undefined </div>
        </div>
        <div class="telephone">
          <i class="fa-solid fa-mobile"></i>
          <div>(239) 555-0108</div>
        </div>
        <div class="socialmedia">
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
  </div>
</div>
