<div class="features reveal">
  <div class="container">
    <div class="title">
      Features
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam modi, repellat tempora dolor, reprehenderit.
    </div>
    <div class="features-content">
      <div class="features-grid">
        <div class="feature">
          <div class="feature-icon">
            <div class="circle"></div>
            <div class="square"></div>
          </div>
          <div class="feature-title">
            Lorem ipsum dolor sit, amet consectetur.
          </div>
          <div class="feature-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia esse doloremque laboriosam sunt dolore quibusdam commodi.
          </div>
        </div>
        <div class="feature">
          <div class="feature-icon">
            <div class="circle"></div>
            <div class="square"></div>
          </div>
          <div class="feature-title">
              Lorem ipsum dolor sit, amet consectetur.
          </div>
          <div class="feature-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia esse doloremque laboriosam sunt dolore quibusdam commodi.
          </div>
        </div>
        <div class="feature">
          <div class="feature-icon">
            <div class="circle"></div>
            <div class="square"></div>
          </div>
          <div class="feature-title">
            Lorem ipsum dolor sit, amet consectetur.
          </div>
          <div class="feature-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia esse doloremque laboriosam sunt dolore quibusdam commodi.
          </div>
        </div>
      </div>
      <div class="features-video">

      </div>
    </div>
  </div>
</div>
