<div class="contact reveal">
  <div class="container">
    <div class="contact-content">
      <div class="title">Contact Us</div>
      <div class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus fugiat illo dolorem repudiandae, laborum, nam aspernatur voluptate in, modi culpa. Fugiat officiis doloremque in sequi doloribus vel autem repudiandae.</div>
    </div>
    <div class="contact-row">
      <div class="form-part">
        <div class="form-title">Contact Us</div>
        <form action="" method="post">
            <input type="text" name="name" id="name" placeholder="Your Name" maxlength="50" required>
            <input type="email" name="email" id="email" placeholder="Your Email" required>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message" style="resize: vertical;"></textarea>
            <button type="submit">Send</button>

        </form>
      </div>
      <div class="information-part">
        <div class="general-information">
            <div class="location">
              <i class="fa-solid fa-location-dot"></i>
              <div>6386 Spring St undefined Anchorage, Georgia 12473 United States</div>
            </div>
            <div class="tel">
              <i class="fa-solid fa-mobile"></i>
              <div>(843) 555-0130</div>
            </div>
            <div class="email">
              <i class="fa-solid fa-envelope"></i>
              <div>willie.jennings@example.com</div>
            </div>
        </div>
        <div class="map">
          <img src="../../assets/media/location.png" alt="location">
        </div>
        <div class="social-media">
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
