<div class="pricing reveal">
  <div class="container">
    <div class="title">Pricing</div>
  <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia maiores laborum eaque nemo incidunt architecto ipsum doloribus ex iure possimus placeat ?</div>
  <div class="offers reveal">
    <div class="free-offer offer reveal">
      <h3 class="offer-name">
          Free
      </h3>
      <div class="offer-description">
        Organize across all apps by hand
      </div>
      <div class="offer-price">
        <div class="number">0</div>
        <div class="info">
          <div class="unit">$</div>
          <div class="period">per month</div>
        </div>
      </div>
      <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <button class="btn-primary"> order now</button>

    </div>
    <div class="standard-offer offer reveal">
      <h3 class="offer-name">
          Standard
      </h3>
      <div class="offer-description">
        Organize across all apps by hand
      </div>
      <div class="offer-price">
        <div class="number">10</div>
        <div class="info">
          <div class="unit">$</div>
          <div class="period">per month</div>
        </div>
      </div>
      <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <button class="btn-primary"> order now</button>

    </div>
    <div class="business-offer offer reveal">
      <h3 class="offer-name">
          Business
      </h3>
      <div class="offer-description">
        Organize across all apps by hand
      </div>
      <div class="offer-price">
        <div class="number">99</div>
        <div class="info">
          <div class="unit">$</div>
          <div class="period">per month</div>
        </div>
      </div>
      <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <div class="feature">Pricing Feature </div>
        <button class="btn-primary"> order now</button>
    </div>
  </div>
  </div>
</div>
