<div class="trial reveal">
  <div class="container">
    <div class="left-part">
      <div class="title">
          Lorem ipsum dolor sit, amet consectetur.
      </div>
      <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem hic dolore quam vero illum nam tempore! Repudiandae.
      </div>
      <button class="btn-primary">Try For Free</button>
  </div>
  <div class="right-part">
      <img src="../../assets/media/trial-image.png" alt="try">
      <div class="grip"></div>
  </div>
  </div>
</div>
