<div class="subscription reveal">
  <div class="container">
    <div class="left-part">
      <img src="../../assets/media/subscription.svg" alt="">
    </div>
    <div class="right-part">
      <h3>At your fingertips</h3>
      <h2>Lorem ipsum dolor. </h2>
      <div class="action">
        <h3>Subscribe to our Newsletter</h3>
        <div>Available exclusivery on Logoland</div>
        <form action="" method="post">
          <input type="email" name="email" id="email" placeholder="Your Email" required>
            <button type="submit">Subscribe</button>
        </form>
      </div>

    </div>
  </div>
</div>
